* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  --primaryColor: orange;
  --secondaryColor: rgb(242, 242, 242);
}

body {
  background-color: var(--primaryColor);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 2.8rem;
}
main {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--primaryColor);
  padding: 10px;
  border-radius: 10px;
}
.search {
  background-color: var(--secondaryColor);
  width: inherit;
  padding: 20px;
  border-radius: 10px;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
input {
  font-size: 2rem;
  width: 230px;
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 10px;
  margin-right: 5px;
}
button {
  font-size: 2.8rem;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 10px;
}
.card {
  margin: 10px 0px;
  padding: 20px;
  background-color: var(--secondaryColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  border-radius: 10px;
}
.card h2 {
  margin-bottom: 5px;
  font-size: 1.8rem;
}
.card p {
  margin-bottom: 5px;
  font-size: 1.8rem;
}
.card--image {
  width: 280px;
  height: 170px;
}
.card--image img {
  width: 140px;
  height: 140px;
}

.footer__info {
  width: 100vw;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}
.footer__info a {
  color: white;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.footer__info a:hover {
  font-size: 1.5rem;
  text-decoration: underline;
}
.footer__info span {
  color: red;
  margin-inline-start: 5px;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: underline;
}